<div class="previous_academic_information">
    <div class="row">
      <h2 class="mx-auto">Necessary Documents</h2>
    </div>
    <hr>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Document</th>
              <th>File</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="scrollable-column">Birth Certificate</td>
              <td>{{ student.previous_academic_certificate.birth_certificate }}</td>
            </tr>
            <tr>
              <td class="scrollable-column">Release Letter</td>
              <td>{{ student.previous_academic_certificate.release_letter }}</td>
            </tr>
            <tr>
              <td class="scrollable-column">Testimonial</td>
              <td>{{ student.previous_academic_certificate.testimonial }}</td>
            </tr>
            <tr>
              <td class="scrollable-column">Marksheet</td>
              <td>{{ student.previous_academic_certificate.marksheet }}</td>
            </tr>
            <tr>
              <td class="scrollable-column">Stipend Certificate</td>
              <td>{{ student.previous_academic_certificate.stipen_certificate }}</td>
            </tr>
            <tr>
              <td class="scrollable-column">Other Certificate</td>
              <td>{{ student.previous_academic_certificate.other_certificate }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>





   <!-- Previous Academic Information -->
   <section class="mb-4">
    <h2 class="text-center">Necessary Documents</h2>
    <hr>
    <div class="table-responsive">
      <table class="table table-bordered">
        <tbody>
          <tr><th>Birth Certificate</th><td>{{ student.previous_academic_certificate.birth_certificate }}</td></tr>
          <tr><th>Release Letter</th><td>{{ student.previous_academic_certificate.release_letter }}</td></tr>
          <tr><th>Testimonial</th><td>{{ student.previous_academic_certificate.testimonial }}td></tr>
          <tr><th>Marksheet</th><td>{{ student.previous_academic_certificate.marksheet }}</td></tr>
          <tr><th>Stipend Certificate</th><td>{{ student.previous_academic_certificate.stipen_certificate }}</</td></tr>
          <tr><th>Other Certificate</th><td>{{ student.previous_academic_certificate.other_certificate }}</td></tr>
        </tbody>
      </table>
    </div>
  </section>